*~
\#*
config.h
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
.deps/
Makefile.in
aclocal.m4
autom4te.cache/
m4/
missing
stamp-h1
create-container
hashkeys
Makefile
print-container
gendilkey
gendilsig
verifydilsig
extractdilkey
bin/
*.o
*.a

