/Makefile.am
/arg-nonnull.h
/c++defs.h
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/stddef.in.h
/sys_types.in.h
/unistd.c
/unistd.in.h
/warn-on-use.h
